
@font-face {
  font-family: "LMS Star Spangled";
  src: url(./fonts/LMS_Star_Spangled.ttf) format("truetype");
}

body {
  margin: 0;
  font-size: 14px;
  font-family: raleway;
  color: #000033;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  background-color: #fdf7ef;
}

a {
  color: #000033;
  text-decoration: none;
  padding: 5px 0;
}

.hidden {
  display: none;
}

.underline {
  text-decoration: underline;
}

.red {
  color: #de0421;
}

header {
  text-align: center;
}

#title {
  width: 90%;
  max-width: 500px;
  font-family: "LMS Star Spangled";
  color: #de0421;
  font-size: 2em;
  line-height: 50px;
  padding: 20px 0px 20px 0px;
  margin: 0 auto 10px auto;
}

header nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}

main {
  min-height: 50vh;
}

input {
  display: block;
  width: 250px;
  height: 40px;
  margin: 5px auto;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  background-color: lightgray;
  margin-bottom: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: slategray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: slategray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: slategray;
}

input[type="checkbox"]{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  -webkit-appearance: checkbox;
}

label {
  text-align: left;
  display: block;
  width: 250px;
  margin: 10px auto;
  height: 30px;
}

input.submit-button {
  background-color: #000033;
  color: white;
  text-transform: uppercase;
  padding: 0;
}

.form {
  text-align: center;
}

.form form {
  margin-top: 30px;
}

.challenger {
  border: 1px solid #f3f2f2;
  border-radius: 5px;
  width: 90%;
  min-height: 100px;
  max-width: 500px;
  box-sizing: border-box;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.challenger h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.challenger p {
  margin-top: 10px;
  font-size: .9em;
}

.pres-image {
  width: 25%;
}

.pres-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pres-info {
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  background-color: white;
}

.pres-defeat,
.pres-revive {
  width: 25%;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #de0421;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pres-defeat:hover,
.pres-revive:hover {
  cursor: pointer;
}

.pres-revive {
  background-color: gray;
}

.pres-defeat p {
  margin: 0;
}

.pres-defeat p {
}

.undo-pres-defeat p {
  background-color: lightgray;
}

#challenge-tab-section {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.challenge-tab {
  display: flex;
  flex-grow: 1;
  width: 90%;
  text-align: center;
}

.challenge-tab:hover {
  cursor: pointer;
}

.challenge-tab p {
  flex-grow: 1;
}

.current-view {
  background-color: lightblue;
}

#user-show, 
#rules {
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}

#user-show div {
  border: 1px solid #f3f2f2;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

#user-show p {
  margin-left: 5px;
}

#rules ol {
  padding: 0;
}

#rules h2 {
  text-align: center;
}

#rules li {
  margin: 20px;
}

#rules img {
  max-width: 100%;
}

#welcome-image {
  min-height: 150px;
  height: 23vh;
  background-image: url("https://res.cloudinary.com/briandanger/image/upload/v1580784297/Screen_Shot_2020-02-03_at_5.23.00_PM_cuiy6z.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}

#team-show-full,
#leave-team-box,
#rules,
#welcome {
  background-color: white;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
  box-sizing: border-box;
  border: 1px solid #f3f2f2;
  border-radius: 5px;
}

#leave-team-box {
  text-align: center;
  margin-top: 10px;
}

#leave-team-box button {
  padding: 10px 20px;
  border: 1px solid white;
  background-color: #de0421;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

#welcome {
  text-align: center;
}

#welcome button {
  display: block;
  background-color: #000033;
  margin: 20px auto;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}

#welcome-image i {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: .6em;
  color: white;
  z-index: 1;
}

#welcome i a {
  color: white;
}

#team-show {
  display: flex;
  padding: 10px;
}

#team-show-teamname {
  text-align: center;
}

#team-member-list {
  flex-grow: 1;
}

#team-member-scores {
  flex-grow: 1;
}



footer {
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #000033;
  width: 100%;
  margin-top: 50px;
}

#rules-nav-div {
  text-align: center;
}

.rules-nav {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #000033;
  border-radius: 100%;
  margin: 0 20px;
  box-sizing: border-box;
  padding: 0; 
}

.rules-nav-bottom button {
  display: inline-block;
  background-color: #000033;
  margin: 20px 5px;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}

.rules-bottom-links {
  text-align: center;
}

#play-now button {
  background-color: #de0421;
}

.modal {
  position: fixed;
  height: 400px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;
  border: 3px solid #000033;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  text-align: center;
}

.modal::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,.2);
  // -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.modal img {
  width: 90%;
  object-fit: cover;
}

.modal-exit {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  font-weight: bold;
  z-index: 2;
  color: grey;
}

p.modal-exit:hover {
  cursor: pointer;
}

.modal h2 {
  margin-top: 30px;
}
#screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #000033;
  opacity: 0.3;
}

.empty-list-text {
  width: 90%;
  margin: 10px auto;
  background-color: white;
  padding: 20px;
  max-width: 500px;
  box-sizing: border-box;
  border: 1px solid #f3f2f2;
  border-radius: 5px;
}

.challenge-modal {
  overflow: auto;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.challenge-modal img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.drink-button {
  width: 100px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #000033;
  border-radius: 5px;
  background-color: #de0421;
  color: white;
  font-weight: bold;
}

.drink-button:hover {
  cursor: pointer;
}

.cocktail-instruction  {
  text-align: center;
  font-weight: bold;
}

.cocktail-instruction ~ .cocktail-instruction{
  text-align: left;
  padding-left: 10px;
  font-weight: normal;
}

.error-message {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  background-color: pink;
  padding: 10px;
}


.loader {
  $size: 1em;
  $borderSize: 0.2em;
  border: $borderSize solid rgba(255, 255, 255, 0.8); /* white */
  border-top: $borderSize solid rgba(22, 109, 0, 0.575); /* black tint */
  border-radius: 50%;
  width: $size;
  height: $size;
  margin: 0 auto;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}