
@font-face {
  font-family: "LMS Star Spangled";
  src: url(./fonts/LMS_Star_Spangled.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0 0 100px 0;
  font-size: 14px;
  font-family: raleway;
  color: #000033;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  background-color: #fdf7ef;
}

a {
  color: #000033;
  text-decoration: none;
  padding: 5px 0;
}

.hidden {
  display: none;
}

.underline {
  text-decoration: underline;
}

.red {
  color: #de0421;
}

header {
  text-align: center;
}

#title {
  width: 90%;
  max-width: 500px;
  font-family: "LMS Star Spangled";
  color: #de0421;
  font-size: 2em;
  line-height: 50px;
  padding: 20px 0px 20px 0px;
  margin: 0 auto 10px auto;
}

header nav {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

input {
  display: block;
  width: 250px;
  height: 40px;
  margin: 5px auto;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  background-color: lightgray;
  margin-bottom: 15px;
}

input.submit-button {
  background-color: #000033;
  color: white;
  text-transform: uppercase;
  padding: 0;
}

.form {
  text-align: center;
}

.form form {
  margin-top: 30px;
}

.challenger {
  border: 1px solid #f3f2f2;
  border-radius: 5px;
  width: 90%;
  height: 100px;
  max-width: 500px;
  box-sizing: border-box;
  margin: 10px auto;
  display: flex;
}

.challenger h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.challenger p {
  margin-top: 10px;
  font-size: .9em;
}

.pres-image {
  display: inline-block;
  width: 25%;
  max-width: 90px;
}

.pres-image img {
  width: 100%;
  height: 100%;
}

.pres-info {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding-left: 10px;
  flex-grow: 2;
  background-color: white;
}

.pres-defeat, .undo-pres-defeat {
  width: 70px;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
}

.pres-defeat p, .undo-pres-defeat p {
  font-weight: bold;
  line-height: 98px;
  margin: 0;
  color: white;
}

.pres-defeat p {
  background-color: #de0421;
}

.undo-pres-defeat p {
  background-color: lightgray;
}

#challenge-tab-section {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.challenge-tab {
  display: flex;
  flex-grow: 1;
  width: 90%;
  text-align: center;
  cursor: pointer;
}

.challenge-tab p {
  flex-grow: 1;
}

.current-view {
  background-color: lightblue;
}

#user-show, 
#rules {
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}

#user-show div {
  border: 1px solid #f3f2f2;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

#user-show p {
  margin-left: 5px;
}

#rules ol {
  padding: 0;
}

#rules h2 {
  text-align: center;
}

#rules li {
  margin: 20px;
}

#rules img {
  max-width: 100%;

}

#team-show-full,
#rules{
  background-color: white;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
  box-sizing: border-box;
  border: 1px solid #f3f2f2;
  border-radius: 5px;
}

#team-show {
  display: flex;
  padding: 10px;
}

#team-show-teamname {
  text-align: center;
}

#team-member-list {
  flex-grow: 1;
}

#team-member-scores {
  flex-grow: 1;
}